$max-width: 550px;

*{
	margin: 0;
	padding: 0;
}


body{
	font-family: $font-default;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
	background: $color-background;
	@media screen and (max-width: 1040px){
        width: 60%;
		margin: 0 auto;
	}
	@media screen and (max-width: 600px){
		font-size: 13px;
        width: 80%;        
		margin: 0 auto;
	}
}

h1{
	font-size: 20px;
}

h2{
	font-size: 19px;
}

a {
 	text-decoration:none;
	color:$color-link;
	-webkit-transition:border .25s linear;
	-moz-transition:border .25s linear;
	-ms-transition:border .25s linear;
	transition:border .25s linear;
	outline:none;
}

a:hover {
    text-decoration:none;
}


h3{
	font-size: 18px;
	line-height: 1.2;
	margin: -1em 0 0 0;
	font-weight: normal;
	display: block;
    @media screen and (max-width: 1040px) {
	    font-size: 17px;
	}
	@media screen and (max-width: 620px) {
	    font-size: 15px;
	}
    
    a{
		color: $color-archieve-title;
        font-weight: bold;
		@include transition(color 0.3s);
		&:hover{
			color: $color-link;
			border-bottom:none;
		}
	}
    
}

a.category {
    color: $color-tag;
}

.alignleft{
	float: left;
}
.alignright{
	float: right;
}
.clearfix{
	@include pie-clearfix;
}
.inner{
	width: $max-width;
	margin: 0 auto;
	@media screen and (max-width: 1040px){
		width: 100%;
	}
}
